# CSE5ML Lab 6C Pratice: Predicting Stock Prices Using an LSTM Model

In this practice, we are going to use the stock price history data of TESLA, which is available free from Yahoo Finance here: https://finance.yahoo.com/quote/TSLA/history?period1=1436486400&period2=1594339200&interval=1d&filter=history&frequency=1d

### Load Data
print out the first 5 rows

In [2]:
import pandas as pd

df=pd.read_csv("TSLA.csv")
print('Number of rows and columns:', df.shape)
df.head()

Number of rows and columns: (1259, 7)

         Date       Open       High        Low      Close  Adj Close    Volume
0  2015-07-10  52.444000  52.599998  51.563999  51.830002  51.830002  13054500
1  2015-07-13  52.450001  52.509998  51.209999  52.431999  52.431999  14801500
2  2015-07-14  52.419998  53.198002  52.102001  53.130001  53.130001   9538000
3  2015-07-15  53.348000  53.498001  52.416000  52.627998  52.627998  10108000
4  2015-07-16  52.844002  53.439999  52.632000  53.335999  53.335999   8080000

### Plot the "Close" stock price based on Date

### Extract the column values that you are going to use from pandas dataframe
Here we are going to use the "Close" stock price to do the forecasting

In [13]:
stock = df.iloc[:, 4:5]
# or you can use this following:
# stock = df[["Close"]]

### Get values from dataframe which returns as numpy array

In [14]:
dataset = stock.values

### Normalize the data with Min-Max Normalization

In [15]:
from sklearn.preprocessing import MinMaxScaler

# normalizing the data
scaler = MinMaxScaler(feature_range=(0, 1))
dataset = scaler.fit_transform(dataset)

### split the data into training and test
using first 800 rows for training and the rest 459 for testing

### Create the dataset that we are going to feed to LSTM
Define the function to create the dataset, with time (lag) and dataset as the function parmenters/arguments. 

Then we apply this function on our training and testing dataset with a time-step of 60

In [22]:
# check data shape
train_X.shape

(739, 60)

### Reshape the data to the input format that required by LSTM
Format that required by LSTM: (samples_size, time-step, features).

### Build a LSTM model
Build a LSTM model with 4 LSTM layer, and each layer with a 50 units/nodes. After each LSTM layer, add a dropout layer with 20% dropout rate. At last, apply a dense layer. Remember to define input_shape in the first layer and set return_sequences = True for all LSTM layer except the layer LSTM layer.

### Compile and train the model
use adam as optimizer and mean_squared_error as the loss function. use batch_size of 32 and epochs of 100 for training, set validation_data as the test dataset to monitor the training process

### Make Predictions
apply model to both training set and testing set

### Inverting predictions
transform predictions back with the defined scaler

### Evaluate model performance for both Training and Testing (based on RMSE and R squared)

### Plot the orginal Data and the Predictions